.interest-container-- {
  margin-top: 14px;
  margin-bottom: 41px;
  padding: 0 40px;
  color: white;
}
.interest-container-- > h2 {
  font-weight: 500;
  margin: 0;
  font-size: 18px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.interest-container-- > p {
  font-weight: 200;
  font-size: 13.24px;
  margin: 0;
}
